---
import type Project from "src/types/project";
import Card from "../atoms/Card.astro";
import Tag from "../atoms/Tag.astro";

export interface Props {
  project: Project;
}

const { project } = Astro.props as Props;
---

<li>
  <a
    href={project.link}
    target="_blank"
    title={project.description}
    class="block rounded"
  >
    <Card>
      <h3 class="mb-2 font-display font-bold text-xl">
        {project.name}
      </h3>
      <p class="text-dark-2 leading-inter-compact line-clamp-2 mb-4">
        {project.description}
      </p>
      <ul class="flex flex-wrap gap-2 mt-auto">
        {project.tags.map((tag) => <Tag tag={tag} />)}
      </ul>
    </Card>
  </a>
</li>
