---
import { Icon } from "astro-icon";

const links = [
  { name: "Home", icon: "ph:house", to: "/" },
  { name: "About", icon: "ph:hand-waving", to: "/about" },
  { name: "Work", icon: "ph:briefcase", to: "/work" },
  { name: "Writing", icon: "ph:newspaper", to: "/writing" },
  { name: "Contact", icon: "ph:at", to: "/contact" },
];

const actions = [
  { name: "Search and more", icon: "ph:magnifying-glass" },
  { name: "Switch light/dark mode", icon: "ph:moon" },
];

const currentPath = Astro.canonicalURL.pathname.slice(0, -1) || "/";
---

<nav class="navigation">
  <ul class="flex md:flex-col gap-2 p-2">
    {links.map((link) => (
      <li
        class:list={[
          { active: currentPath === link.to },
          "item",
          "rounded opacity-80 hover:opacity-100 transition-opacity",
        ]}
        data-name={link.name}
      >
        <a
          href={link.to}
          aria-label={link.name}
          class="block p-[13px] text-primary"
        >
          <Icon name={link.icon} class="icon" />
        </a>
      </li>
    ))}
  </ul>
  <ul class="hidden sm:flex md:flex-col gap-2 p-2">
    {actions.map((action) => (
      <li
        class="item rounded opacity-80 hover:opacity-100 transition-opacity"
        data-name={action.name}
      >
        <button aria-label={action.name} class="block p-[13px] text-primary">
          <Icon name={action.icon} class="icon" />
        </button>
      </li>
    ))}
  </ul>
</nav>

<style>
  .navigation {
    @apply fixed bottom-4 left-0 mx-4 z-10;
    width: calc(100% - theme("spacing.6"));
    @apply flex justify-center gap-2;
    @apply md:top-1/2 md:bottom-auto md:left-6 md:-translate-y-1/2;
    @apply md:min-h-[600px] md:w-auto;
    @apply md:flex-col sm:justify-between;
    @apply bg-light shadow-border rounded;
  }

  .item {
    position: relative;
  }

  .item::after {
    position: absolute;
    @apply left-1/2 bottom-full;
    @apply md:left-full md:top-1/2 md:bottom-auto;
    width: max-content;
    @apply -translate-x-1/2 translate-y-2;
    @apply md:-translate-x-2 md:-translate-y-1/2;
    content: attr(data-name);
    @apply p-2 mb-4 md:ml-4 md:mb-0 border-2 border-primary-2 rounded;
    color: theme("colors.primary");
    background-color: theme("backgroundColor.light");
    font-weight: theme("fontWeight.medium");
    opacity: 0;
    pointer-events: none;
    transition: transform 150ms ease, opacity 300ms ease;
  }

  .item:hover::after {
    opacity: 1;
    @apply md:-translate-x-1/2 translate-y-0;
    @apply md:translate-x-0 md:-translate-y-1/2;
  }

  .active {
    background-color: theme("backgroundColor.primary-2");
    opacity: 1;
  }

  .icon {
    stroke: theme("stroke.primary");
    stroke-width: theme("strokeWidth.2");
    @apply w-[24px];
  }
</style>
