---
import type Project from "src/types/project";
import Tag from "./Tag.astro";

export interface Props {
  project: Project;
}

const { project } = Astro.props as Props;
---

<li>
  <a
    href={project.link}
    class="flex flex-col p-4 border-2 border-primary-2 rounded bg-light hover:bg-primary-1 transition-colors"
    target="_blank"
    title={project.description}
  >
    <h3 class="mb-2 font-display font-bold text-2xl">{project.name}</h3>
    <p class="text-dark-1 leading-inter-compact line-clamp-2">
      {project.description}
    </p>
    <ul class="flex flex-wrap mt-4 gap-2">
      {project.tags.map((tag) => <Tag tag={tag} />)}
    </ul>
  </a>
</li>
